.navbar-header {
    /* Boja pozadine headera */
    background-color: #BBDEFB;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

  .navbar-brand img {
    width: 60px;
    height: auto;
    /* Razmak između slike i teksta */
    margin-right: 10px;
  }

  .navbar-header .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* Odmak od desnog ruba */
    margin-right: 20px;
  }

  .navbar-navigation {
    /* Boja pozadine navigacije */
    background-color: #06004B;
  }

  .navbar-navigation .nav-link {
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 20px;
  }

  .navbar-navigation .nav-link.active {
    color: #FFFFFF;
    background-color: #08005A;
  }

  .navbar-navigation .dropdown-menu {
    background-color: #08005A;
    color: #FFFFFF;
  }

  .navbar-navigation .dropdown-item {
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    color: #aca4ff;
  }

  .navbar-navigation .dropdown-item:hover {
    background-color: #08005A;
    color: #FFFFFF;
  }

  .navbar-navigation .nav-link:hover,
  .navbar-navigation .dropdown:hover .nav-link {
    color: #FFFFFF;
  }

  .navbar-navigation .dropdown-toggle:hover .nav-link {
    color: #FFFFFF;
  }

  .sekcija-uvod {
    padding-top: 5%;
    background-color: #00437A;
    color: #FFFFFF;
    text-align: center;
  }

  .sekcija-uvod h1 {
    font-size: 26px;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .sekcija-uvod p {
    text-align: justify;
    padding: 3% 15%;
    font-weight: normal;
    font-family: 'Montserrat', serif;
  }
  
  .image-section {
    background: url('images/preddiplomski-hero-sekcija.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
  }

  .sekcija-programi {
    background-color: #BBDEFB;
    padding: 50px 0;
  }

  .sekcija-programi h2 {
    font-size: 27px;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: #0077B6;
    padding-bottom: 2%;
  }

  .card {
    background-color: #06004B;
    border-radius: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    border: none;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .card:hover .card-img-top {
    transform: scale(1.1);
  }

  .card-body {
    padding: 35px;
    color: #FFFFFF;
  }

  .card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7%;
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 2.1%;
  }

  .btn-saznaj-vise {
    background-color: #8AA6FF;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn-saznaj-vise:hover {
    background-color: #C071FF;
    color: #FFFFFF;
  }

  .footer-dio {
    background-color: #0A142F;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }

  .footer-dio h5 {
    font-family: 'Libre Baskerville', sans-serif;
    padding-bottom: 7px;
  }

  .text-body-secondary {
    color: #fff!important;
    font-size: 15px;
  }

  .logo-pozadina {
    background-color: #fff;
    border-radius: 10% 55%;
  }